{%extends "template.html.twig" %}
{% block titre%}Stats Tab{%endblock%}
{% block pageTitle%}Stats Tab {%endblock%}
{%block body%}
<table class="table">
    {% for note in notes %}
    <tr>
        <td>{{note}}</td>
    </tr>
    {%endfor%}
</table>
<div class="alert alert-info">
<p> min : {{min(notes)}} </p>
<p> max : {{max(notes)}} </p>
<p> nombre d'éléments : {{notes |length}} </p>
<p>Mon url absolu {{url('app_tab')}}</p>
</div>
{%endblock%}