{% extends 'template.html.twig' %}

{% block title %}List{% endblock %}
{% block pageTitle %}List{% endblock %}
{% block body %}
    <div class="row">
     {% if stats is defined and stats %}
         {%for stat in stats%}
        <div class="row justify-content-center">

         <div class="card text-white text-center bg-warning mb-3 m-3" style="max-width: 18rem;">
             <div class="card-header">Age moyenne entre {{ageMin}} et {{ageMax}}</div>
             <div class="card-body">
                 <h5 class="card-title">{{ stat.ageMoyenne }}</h5>
             </div>
         </div>

         <div class="card text-white text-center bg-warning mb-3 m-3" style="max-width: 18rem;">
             <div class="card-header">Nombre de personnes entre {{ageMin}} et {{ageMax}}</div>
             <div class="card-body">
                 <h5 class="card-title">{{ stat.nbPersonnes }}</h5>
             </div>
         </div>

        </div>
         {%endfor%}
     {%endif%}

        {%for personne in personnes%}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ personne.prénom }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ personne.nom }} {{ personne.prénom }}</h6>
            <p class="card-text">Age : {{ personne.age }}</p>
            <a href="{{ path('personne.detail', {'id': personne.id}) }}" class="card-link">Details</a>
            <a href="{{ path('personne.delete', {'id': personne.id}) }}" class="card-link">Delete</a>



        </div>

    </div>
        {%endfor%}

    </div>
{% endblock %}
